body {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M444.64 247.11 a11.29 11.29 0 1 0 22.58 0 a11.29 11.29 0 1 0 -22.58 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M438.35 458.63L465.32 458.63L465.32 506.67L438.35 506.67z' fill='rgba(0%2c 255%2c 118%2c 1)'%3e%3c/path%3e%3cpath d='M609.73 481.35 a49.25 49.25 0 1 0 98.5 0 a49.25 49.25 0 1 0 -98.5 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1435.43 429.34L1488.5 429.34L1488.5 482.41L1435.43 482.41z' stroke='rgba(0%2c 255%2c 118%2c 1)'%3e%3c/path%3e%3cpath d='M1089.54 207.02L1130.18 207.02L1130.18 247.66L1089.54 247.66z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M492.34 332.69L523.26 332.69L523.26 363.61L492.34 363.61z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1193.79 126.24L1217.17 126.24L1217.17 149.62L1193.79 149.62z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M798.89 346.58a8.84 8.84 0 1 0-10.54 14.19z' stroke='rgba(0%2c 255%2c 118%2c 1)'%3e%3c/path%3e%3cpath d='M1362.48 253.06 a3.72 3.72 0 1 0 7.44 0 a3.72 3.72 0 1 0 -7.44 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M445.94 524.21 a12.49 12.49 0 1 0 24.98 0 a12.49 12.49 0 1 0 -24.98 0z' fill='rgba(0%2c 255%2c 118%2c 1)'%3e%3c/path%3e%3cpath d='M1224.22 15.71L1277.59 15.71L1277.59 38.43L1224.22 38.43z' fill='rgba(0%2c 255%2c 118%2c 1)'%3e%3c/path%3e%3cpath d='M1044.84 125.77 a39.43 39.43 0 1 0 78.86 0 a39.43 39.43 0 1 0 -78.86 0z' fill='rgba(0%2c 255%2c 118%2c 1)'%3e%3c/path%3e%3cpath d='M603.44 426.89L643.92 426.89L643.92 450.27L603.44 450.27z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M648.46 350.36L671.35 350.36L671.35 373.25L648.46 373.25z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1272.2 460.86L1275.37 460.86L1275.37 464.03L1272.2 464.03z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1059.03 62.56L1086.82 62.56L1086.82 86.55L1059.03 86.55z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M362.41 15.73a10.7 10.7 0 1 0 1.59-21.34z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1168.42 41.29 a25.55 25.55 0 1 0 51.1 0 a25.55 25.55 0 1 0 -51.1 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1249.12 516.93a20.55 20.55 0 1 0-25.11-32.53z' stroke='rgba(0%2c 255%2c 118%2c 1)'%3e%3c/path%3e%3cpath d='M70.96 278.61L82 278.61L82 311.7L70.96 311.7z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M33.6 68.59a38.16 38.16 0 1 0-22.76-72.85z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M826.18 222.39L847.57 222.39L847.57 243.78L826.18 243.78z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M789.96 395.37L823.31 395.37L823.31 432.92L789.96 432.92z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M262.26 64.53L277.3 64.53L277.3 79.57L262.26 79.57z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1400.39 375.82 a0.94 0.94 0 1 0 1.88 0 a0.94 0.94 0 1 0 -1.88 0z' stroke='rgba(0%2c 255%2c 118%2c 1)'%3e%3c/path%3e%3cpath d='M1255.51 3.1L1255.67 3.1L1255.67 27.52L1255.51 27.52z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M139.11 142.57a47.37 47.37 0 1 0-53.63-78.1z' fill='rgba(0%2c 255%2c 118%2c 1)'%3e%3c/path%3e%3cpath d='M1344.8 177.38a10.43 10.43 0 1 0 20.28-4.86z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1183.76 20.29a0.88 0.88 0 1 0-1.61-0.72z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M731.35 154.49 a22.94 22.94 0 1 0 45.88 0 a22.94 22.94 0 1 0 -45.88 0z' fill='rgba(0%2c 255%2c 118%2c 1)'%3e%3c/path%3e%3cpath d='M934.7 235.74a7.9 7.9 0 1 0-10.22 12.05z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M808.45 389.88 a12.94 12.94 0 1 0 25.88 0 a12.94 12.94 0 1 0 -25.88 0z' stroke='rgba(0%2c 255%2c 118%2c 1)'%3e%3c/path%3e%3cpath d='M969.32 309.56L982.43 309.56L982.43 326.06L969.32 326.06z' fill='rgba(0%2c 255%2c 118%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

body {
     overflow: hidden;
     text-align: center;
}

h1 {
     text-shadow: 0px 0px 15px white;
     transform: scale(1.1);
     transition: all 300ms;
}


h1:hover {
     text-shadow: 0px 0px 15px rgb(0, 0, 0);
     transform: scale(0.9);
     transition: all 300ms;
}

label {
     font-size: 2em;
     text-shadow: 0px 0px 10px white;
}

button {
     padding: 10px;
     width: 130px;
     font-size: 1.5em;
     font-weight: bold;
     border: 1px black solid;
     border-radius: 20px;
     box-shadow: 0px 0px 20px aqua;
     transition: all 200ms;
}

button:hover {
     color: white;
     background-color: black;
}

button:active {
     transform: translateY(5px);
     box-shadow: none;
}

input {
     box-shadow: 0px 0px 10px aquamarine;
}